.wrapper {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.sidenav-container {
  position: relative;
  width: 100%;
  max-width: 100%;
  height: calc(100vh - 64px);
  display: -moz-flex;
  display: flex;
  flex-direction: row;
}

.sidebar-panel {
  position: absolute !important;
  overflow-x: hidden;
  width: 15rem;
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, .2), 0 1px 1px 0 rgba(0, 0, 0, .14), 0 1px 3px 0 rgba(0, 0, 0, .12) !important;
}

.main-container {
  position: relative;
  height: 100%;
  min-height: 100%;
  box-sizing: border-box;
  flex-direction: column;
  display: -moz-flex;
  display: flex;
  flex: 1;
  overflow-y: auto;
  overflow-x: hidden;
  padding: .33333333rem;
}
