<mat-nav-list appaccordion="" class="navigation mat-nav-list" role="navigation">
  <!---->
  <mat-list-item appaccordionlink="" class="mat-list-item ng-star-inserted" style="">
    <div class="mat-list-item-content">
      <div class="mat-list-item-ripple mat-ripple" mat-ripple=""></div>
      <div class="mat-list-text"></div>
      <!---->
      <a appaccordiontoggle="" class="relative ng-star-inserted" href="/">
        <mat-icon class="mat-icon material-icons" role="img" aria-hidden="true">explore</mat-icon>
        <span>Home</span>
        <span fxflex="" style="flex: 1 1 0%; box-sizing: border-box;"></span>
        <!---->
      </a>
      <!---->
      <!---->
      <!---->
      <!---->
    </div>
  </mat-list-item>
  <mat-list-item appaccordionlink="" class="mat-list-item ng-star-inserted" style="">
    <div class="mat-list-item-content">
      <div class="mat-list-item-ripple mat-ripple" mat-ripple=""></div>
      <div class="mat-list-text"></div>
      <!---->
      <!---->
      <!---->
      <!---->
      <a appaccordiontoggle="" class="relative ng-star-inserted" href="javascript:;">
        <mat-icon class="mat-icon material-icons" role="img" aria-hidden="true">apps</mat-icon>
        <span>Apps</span>
        <span fxflex="" style="flex: 1 1 0%; box-sizing: border-box;"></span>
        <!---->
        <span class="menu-badge mat-red ng-star-inserted">5</span>
        <mat-icon class="menu-caret mat-icon material-icons" role="img" aria-hidden="true">arrow_drop_down</mat-icon>
      </a>
      <!---->
      <mat-nav-list class="sub-menu mat-nav-list ng-star-inserted" role="navigation">
        <!---->
        <mat-list-item class="mat-list-item ng-star-inserted" routerlinkactive="open">
          <div class="mat-list-item-content">
            <div class="mat-list-item-ripple mat-ripple" mat-ripple=""></div>
            <div class="mat-list-text"></div>
            <a class="relative" href="/apps/calendar">Calendar</a>
          </div>
        </mat-list-item>
        <mat-list-item class="mat-list-item ng-star-inserted" routerlinkactive="open">
          <div class="mat-list-item-content">
            <div class="mat-list-item-ripple mat-ripple" mat-ripple=""></div>
            <div class="mat-list-text"></div>
            <a class="relative" href="/apps/media">Media</a>
          </div>
        </mat-list-item>
      </mat-nav-list>
    </div>
  </mat-list-item>
</mat-nav-list>
